@import "tailwindcss";

.flex-buttons {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

@media (max-width: 640px) {
  .flex-buttons {
    position: static;
    margin-top: 8px;
    justify-content: flex-start;
  }
}

.custom-nav .ant-menu-item-selected {
  border-bottom: 2px solid #1677ff; /* underline রঙ */
  background-color: transparent !important; /* ব্যাকগ্রাউন্ড বাদ */
}

/* Hover এও underline effect */
.custom-nav .ant-menu-item:hover {
  border-bottom: 2px solid #1677ff;
  background-color: transparent !important;
}

/* Transition smooth করার জন্য */
.custom-nav .ant-menu-item {
  transition: border-bottom 0.3s ease;
}
