@import "tailwindcss";

.flex-buttons {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}
.global-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .flex-buttons {
    position: static;
    margin-top: 8px;
    justify-content: flex-start;
  }
}

.custom-nav .ant-menu-item-selected {
  border-bottom: 2px solid #1677ff;
  background-color: transparent !important;
}

.custom-nav .ant-menu-item:hover {
  border-bottom: 2px solid #1677ff;
  background-color: transparent !important;
}
.custom-nav .ant-menu-item {
  transition: border-bottom 0.3s ease;
}
